<div class="graph-wrapper">
  <h1 class="graph-title">Simple API Graph</h1>
  <div class="graph" *ngIf="graphData else loading">
    <div *ngFor="let elem of graphData" class="graph__category">
      <span class="category__lbl">{{ elem.name }}</span>
      <div
        *ngFor="let character of elem.series"
        [className]="'graph__character graph__character--' + character.BMIclass"
      >
        <span>{{ character.name }}</span>
        <div class="character__additional-info">
          <span><strong>Age</strong>: {{ character.birth_year ? character.birth_year : 'unknown' }}</span>
          <span><strong>BMI</strong>: {{ character.BMI ?  character.BMI : 'unknown' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="loader">
    <img src="../assets/loader.svg" alt="Loading..." />
  </div>
</ng-template>
