
.graph {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  &-title{
    text-align: center;
  }
  &__category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    &:before,
    &:after {
      position: absolute;
      top: 35px;
      width: 1px;
      height: 100%;
      background-color: rgba(0,0,0, 0.2);
      content: "";
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      display: none;

    }
    &:last-child {
      &:after {
        display: block;
      }
    }
  }
  &__character {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    min-width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    //
    &--underweight{
      color: white;
      background-color: black;
      .character__additional-info {
        color: #000;
      }
    }
    &--normal {
      background-color: green;
    }
    &--overweight {
      background-color: orange;
    }
    &--obesity {
      background-color: red;
    }
    &--undefined {
      outline: 1px solid rgba(0,0,0, 0.2);
      .character__additional-info {
        background-color: rgba(0,0,0, 0.7);
        color: #ffffff;
      }
    }
    &:hover .character__additional-info {
      visibility: visible;
      opacity: 1;
    }
  }
}

.category__lbl {
  padding: 10px 0;
  font-weight: bold;
  white-space: nowrap;
  &:before {
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0, 0.2);
    content: "";
  }
}

.character__additional-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 40px);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
